.header {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    font-weight: 800;
    color: var(--ink);
  }

  &__date {
    margin-top: 6px;
    font-weight: 600;
    font-size: 15px;
    color: #9a8367;
  }
}
